:root {
  --hexagon-size: 24px;
  --player-1: white;
  --player-highlight-1: green;
  --player-2: black;
  --player-highlight-2: blue;
  --bee-color: yellow;
  --speed: .4s;
  --easing: ease-in-out; }
  @media only screen and (min-width: 720px) {
    :root {
      --hexagon-size: 40px; } }

.app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

hive-board {
  width: 100%;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  position: relative;
  overflow: hidden; }
  hive-board .insect {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 200; }
  hive-board .board-sizer {
    position: absolute;
    background-color: red; }

.is-dragging-board .insect {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

hive-player-deck {
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: -webkit-calc(1.73205 * var(--hexagon-size) + 12px);
  height: calc(1.73205 * var(--hexagon-size) + 12px);
  background-color: #797979;
  -webkit-transition: background-color 0.5s cubic-bezier(0.3, 0.14, 0.36, 1) 1s;
  -o-transition: background-color 0.5s cubic-bezier(0.3, 0.14, 0.36, 1) 1s;
  transition: background-color 0.5s cubic-bezier(0.3, 0.14, 0.36, 1) 1s;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
  position: relative; }
  hive-player-deck[player="1"] {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }
  hive-player-deck[player="2"] {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3; }
  hive-player-deck .insect {
    margin: 5px 5px;
    display: inline-block;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    -o-transition-property: opacity, filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.3, 0.14, 0.36, 1);
    -o-transition-timing-function: cubic-bezier(0.3, 0.14, 0.36, 1);
    transition-timing-function: cubic-bezier(0.3, 0.14, 0.36, 1);
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }
    hive-player-deck .insect:first-child {
      margin-left: 40px; }
    hive-player-deck .insect:last-child {
      margin-right: 40px; }
    hive-player-deck .insect:first-child:last-child {
      margin-left: 40px;
      margin-right: 40px; }
  hive-board[current-player="1"] ~ hive-player-deck[player="1"],
  hive-board[current-player="2"] ~ hive-player-deck[player="2"] {
    background-color: #a0a0a0;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s; }
  hive-board:not([current-player="1"]) ~ hive-player-deck[player="1"],
  hive-board:not([current-player="2"]) ~ hive-player-deck[player="2"] {
    pointer-events: none; }
    hive-board:not([current-player="1"]) ~ hive-player-deck[player="1"] .insect,
    hive-board:not([current-player="2"]) ~ hive-player-deck[player="2"] .insect {
      opacity: 0.5;
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%);
      pointer-events: none;
      -ms-touch-action: none;
      touch-action: none;
      -webkit-transition-delay: 1s;
      -o-transition-delay: 1s;
      transition-delay: 1s; }
  hive-player-deck .hive-playeer-deck-inner {
    position: relative;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    overflow-x: auto;
    overflow-y: hidden; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes disappearLeft {
  from {
    opacity: 0;
    width: -webkit-calc(var(--hexagon-size) * 2);
    width: calc(var(--hexagon-size) * 2);
    margin: 0 5px;
    margin-left: 40px; }
  to {
    opacity: 0;
    width: 0;
    margin: 0 0; } }

@keyframes disappearLeft {
  from {
    opacity: 0;
    width: -webkit-calc(var(--hexagon-size) * 2);
    width: calc(var(--hexagon-size) * 2);
    margin: 0 5px;
    margin-left: 40px; }
  to {
    opacity: 0;
    width: 0;
    margin: 0 0; } }

@-webkit-keyframes disappearRight {
  from {
    opacity: 0;
    width: -webkit-calc(var(--hexagon-size) * 2);
    width: calc(var(--hexagon-size) * 2);
    margin: 0 5px;
    margin-right: 40px; }
  to {
    opacity: 0;
    width: 0;
    margin: 0 0; } }

@keyframes disappearRight {
  from {
    opacity: 0;
    width: -webkit-calc(var(--hexagon-size) * 2);
    width: calc(var(--hexagon-size) * 2);
    margin: 0 5px;
    margin-right: 40px; }
  to {
    opacity: 0;
    width: 0;
    margin: 0 0; } }

@-webkit-keyframes disappearBoth {
  from {
    opacity: 0;
    width: -webkit-calc(var(--hexagon-size) * 2);
    width: calc(var(--hexagon-size) * 2);
    margin: 0 40px; }
  to {
    opacity: 0;
    width: 0;
    margin: 0 0; } }

@keyframes disappearBoth {
  from {
    opacity: 0;
    width: -webkit-calc(var(--hexagon-size) * 2);
    width: calc(var(--hexagon-size) * 2);
    margin: 0 40px; }
  to {
    opacity: 0;
    width: 0;
    margin: 0 0; } }

@-webkit-keyframes disappear {
  from {
    opacity: 0;
    width: -webkit-calc(var(--hexagon-size) * 2);
    width: calc(var(--hexagon-size) * 2);
    margin: 0 5px; }
  to {
    opacity: 0;
    width: 0;
    margin: 0 0; } }

@keyframes disappear {
  from {
    opacity: 0;
    width: -webkit-calc(var(--hexagon-size) * 2);
    width: calc(var(--hexagon-size) * 2);
    margin: 0 5px; }
  to {
    opacity: 0;
    width: 0;
    margin: 0 0; } }

.insect {
  height: -webkit-calc(1.73205 * var(--hexagon-size));
  height: calc(1.73205 * var(--hexagon-size));
  width: -webkit-calc(var(--hexagon-size) * 2);
  width: calc(var(--hexagon-size) * 2);
  display: block;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s cubic-bezier(0.31, 0.26, 0.56, 0.35);
  transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s cubic-bezier(0.31, 0.26, 0.56, 0.35);
  -o-transition: opacity 0.8s ease-in-out, transform 0.8s cubic-bezier(0.31, 0.26, 0.56, 0.35);
  transition: opacity 0.8s ease-in-out, transform 0.8s cubic-bezier(0.31, 0.26, 0.56, 0.35);
  transition: opacity 0.8s ease-in-out, transform 0.8s cubic-bezier(0.31, 0.26, 0.56, 0.35), -webkit-transform 0.8s cubic-bezier(0.31, 0.26, 0.56, 0.35);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .insect .insect-inner {
    -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s cubic-bezier(0.31, 0.26, 0.66, 0.97);
    transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s cubic-bezier(0.31, 0.26, 0.66, 0.97);
    -o-transition: opacity 0.8s ease-in-out, transform 0.8s cubic-bezier(0.31, 0.26, 0.66, 0.97);
    transition: opacity 0.8s ease-in-out, transform 0.8s cubic-bezier(0.31, 0.26, 0.66, 0.97);
    transition: opacity 0.8s ease-in-out, transform 0.8s cubic-bezier(0.31, 0.26, 0.66, 0.97), -webkit-transform 0.8s cubic-bezier(0.31, 0.26, 0.66, 0.97);
    position: relative; }
  .insect .debug {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 10px;
    pointer-events: none;
    width: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .insect[player="1"] .debug {
    color: black; }
  .insect[player="2"] .debug {
    color: white; }
  .insect[player="1"] .hexagon-inner {
    fill: var(--player-1); }
  .insect[player="2"] .hexagon-inner {
    fill: var(--player-2); }
  .insect img {
    position: absolute;
    pointer-events: none;
    width: 85%;
    height: 85%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -o-object-fit: contain;
    object-fit: contain;
    display: block; }
  .insect .hexagon-border {
    fill: transparent;
    -webkit-transition: fill 0.5s ease-in-out;
    -o-transition: fill 0.5s ease-in-out;
    transition: fill 0.5s ease-in-out; }
  hive-player-deck .insect[player="1"].selected .hexagon-inner,
  hive-player-deck .insect[player="1"]:hover .hexagon-inner,
  [current-player="1"] .insect[player="1"].selected .hexagon-inner,
  [current-player="1"] .insect[player="1"]:hover .hexagon-inner {
    cursor: pointer; }
  hive-player-deck .insect[player="1"].selected .hexagon-border,
  hive-player-deck .insect[player="1"]:hover .hexagon-border,
  [current-player="1"] .insect[player="1"].selected .hexagon-border,
  [current-player="1"] .insect[player="1"]:hover .hexagon-border {
    fill: var(--player-2); }
  hive-player-deck .insect[player="2"].selected .hexagon-inner,
  hive-player-deck .insect[player="2"]:hover .hexagon-inner,
  [current-player="2"] .insect[player="2"].selected .hexagon-inner,
  [current-player="2"] .insect[player="2"]:hover .hexagon-inner {
    cursor: pointer; }
  hive-player-deck .insect[player="2"].selected .hexagon-border,
  hive-player-deck .insect[player="2"]:hover .hexagon-border,
  [current-player="2"] .insect[player="2"].selected .hexagon-border,
  [current-player="2"] .insect[player="2"]:hover .hexagon-border {
    fill: var(--player-1); }
  .insect.highlight {
    opacity: 1;
    cursor: pointer;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out; }
    .insect.highlight .hexagon-border {
      fill: transparent; }
    .insect.highlight .hexagon-inner {
      fill: #acacac;
      -webkit-transition: fill 0.5s ease-in-out;
      -o-transition: fill 0.5s ease-in-out;
      transition: fill 0.5s ease-in-out; }
    .insect.highlight:hover .hexagon-border {
      fill: white; }
    .insect.highlight.fade-out {
      opacity: 0; }
  .insect.disappear {
    overflow: hidden;
    -webkit-animation: disappear .7s forwards;
    animation: disappear .7s forwards; }
    .insect.disappear:first-child {
      -webkit-animation: disappearLeft .7s forwards;
      animation: disappearLeft .7s forwards; }
    .insect.disappear:last-child {
      -webkit-animation: disappearRight .7s forwards;
      animation: disappearRight .7s forwards; }
    .insect.disappear:first-child:last-child {
      -webkit-animation: disappearBoth .7s forwards;
      animation: disappearBoth .7s forwards; }

body > .insect {
  z-index: 400; }

.shadow-left,
.shadow-right {
  width: 100px;
  height: 160px;
  position: absolute;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 403;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }

.shadow-left {
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(30%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, black 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, black 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0) 100%);
  left: 0; }

.shadow-right {
  background: -webkit-gradient(linear, right top, left top, from(black), color-stop(30%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(right, black 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(right, black 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to left, black 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0) 100%);
  right: 0; }

.shadow-2 {
  top: auto;
  bottom: 0; }

html {
  height: 100%; }

body {
  background-color: gray;
  padding: 0;
  margin: 0;
  height: 100%; }
