hive-board {
  width: 100%;
  display: block;
  flex: 1 1 auto;
  order: 2;
  position: relative;
  overflow: hidden;

  .insect {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
  }

  &.should-place-queen {
    .insect:not(.highlight) {
      pointer-events: none;
    }
  }
}

.is-dragging-board {
  hive-board .insect {
    transition: none !important;
  }
}