hive-player-deck {
  width: 100%;
  flex: 0 0 auto;
  height: calc(#{sqrt(3)} * var(--hexagon-size) + 12px);
  background-color: $gray;
  transition: background-color $speed cubic-bezier(.3,.14,.36,1) $delay-from-active-to-inactive;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
  position: relative;

  &[player="1"] {
    order: 1;
  }

  &[player="2"] {
    order: 3;
  }

  .insect {
    margin: 5px 5px;
    display: inline-block;
    transition-property: opacity, filter;
    transition-duration: $speed;
    transition-timing-function: cubic-bezier(.3,.14,.36,1);
    transition-delay: $delay-from-inactive-to-active;
    filter: grayscale(0);

    &:first-child {
      margin-left: 40px;
    }

    &:last-child {
      margin-right: 40px;
    }

    &:first-child:last-child {
      margin-left: 40px;
      margin-right: 40px;
    }
  }


  hive-board[current-player="1"] ~ &[player="1"],
  hive-board[current-player="2"] ~ &[player="2"] {
    background-color: $gray_light;
    transition-delay: $delay-from-inactive-to-active;
  }

  hive-board:not([current-player="1"]) ~ &[player="1"],
  hive-board:not([current-player="2"]) ~ &[player="2"] {
    pointer-events: none;

    .insect {
      opacity: 0.5;
      filter: grayscale(90%);
      pointer-events: none;
      touch-action: none;
      transition-delay: $delay-from-active-to-inactive;
    }
  }

  .hive-playeer-deck-inner {
    position: relative;
    height: calc(100% + 20px);
    overflow-x: auto;
    overflow-y: hidden;  
  }

  &.should-place-queen {
    .insect:not(.queen) {
      opacity: 0.5;
      filter: grayscale(90%);
      pointer-events: none;
      touch-action: none;
      transition-delay: $delay-from-active-to-inactive;
    }
  }
}