hive-player {
  width: 100%;
  overflow-x: auto;
  display: block;
  flex: 0 0 170px;
  background-color: rgba(white, .1);
  justify-content: center;
  align-items: center;
  display: flex;

  .insect {
    margin: 5px 10px;
    flex: 0 0 auto;
  }
}