@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 0;
    max-width: calc(var(--hexagon-size) * 2);
    margin: 0 10px;
  }

  to {
    opacity: 0;
    max-width: 0;
    margin: 0 0;
  }
}

.insect {
  height: calc(#{sqrt(3)} * var(--hexagon-size));
  width: calc(var(--hexagon-size) * 2);
  display: block;
  position: relative;
  top: 0;
  left: 0;
  transition: opacity .6s ease-in-out,
    transform .6s ease-in-out;
  user-select: none;

  .debug {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 10px;
    pointer-events: none;
    width: 20px;
    transform: translateY(-50%);
  }

  &[player="1"] .debug {
    color: black;
  }

  &[player="2"] .debug {
    color: white;
  }

  .hexagon-inner {
    cursor: pointer;
  }

  &[player="1"] .hexagon-inner {
    fill: var(--player-1);
  }

  &[player="2"] .hexagon-inner {
    fill: var(--player-2);
  }

  img {
    position: absolute;
    pointer-events: none;
    width: 95%;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    display: block;
  }

  .hexagon-border {
    cursor: pointer;
    fill: transparent;
    transition: fill .3s ease-in-out;
  }

  &[player="1"].selected .hexagon-border,
  &[player="1"]:hover .hexagon-border {
      fill: var(--player-2);
  }

  &[player="2"].selected .hexagon-border,
  &[player="2"]:hover .hexagon-border {
      fill: var(--player-1);
  }

  &.proposed {
    opacity: 1;
    animation: fadeIn .5s;
    transition: opacity .3s ease-in-out, fill .3s ease-in-out;

    .hexagon-border {
      fill: transparent;
    }

    .hexagon-inner {
      fill: rgb(172, 172, 172);
      transition: fill .3s ease-in-out;
    }

    &:hover {
      .hexagon-border {
        fill: white;
      }  
    }

    &.fade-out {
      opacity: 0;
    }
  }

  &.disappear {
    animation: disappear .7s forwards;
  }
}