$delay-from-active-to-inactive: 1s;
$delay-from-inactive-to-active: 1s;

hive-player {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  flex: 0 0 85px;
  background-color: rgba(white, .1);
  transition: background-color $speed cubic-bezier(.3,.14,.36,1) $delay-from-active-to-inactive;
  text-align: center;
  white-space: nowrap;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0;

  &:before {
    content: '';
    display: inline-block;
    flex: 0 0 auto;
    width: 15px;
    height: 40px;
  }

  &:after {
    content: '';
    display: inline-block;
    flex: 0 0 auto;
    width: 20px;
    height: 40px;
  }

  &[player="1"] {
    order: 1;
  }

  &[player="2"] {
    order: 3;
  }

  .insect {
    margin: 5px 10px;
    display: inline-block;
    transition-property: opacity, filter;
    transition-duration: $speed;
    transition-timing-function: cubic-bezier(.3,.14,.36,1);
    transition-delay: $delay-from-inactive-to-active;
    filter: grayscale(0);
  }

  hive-board[current-player="1"] ~ &[player="1"],
  hive-board[current-player="2"] ~ &[player="2"] {
    background-color: rgba(white, .3);
    transition-delay: $delay-from-inactive-to-active;
  }

  hive-board:not([current-player="1"]) ~ &[player="1"],
  hive-board:not([current-player="2"]) ~ &[player="2"] {
    .insect {
      opacity: 0.5;
      filter: grayscale(90%);
      pointer-events: none;
      touch-action: none;
      transition-delay: $delay-from-active-to-inactive;
    }
  }
}

