@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 0;
    width: calc(var(--hexagon-size) * 2);
    margin: 0 10px;
  }

  to {
    opacity: 0;
    width: 0;
    margin: 0 0;
  }
}

.insect {
  height: calc(#{sqrt(3)} * var(--hexagon-size));
  width: calc(var(--hexagon-size) * 2);
  display: block;
  position: relative;
  top: 0;
  left: 0;
  transition: opacity .8s ease-in-out,
    transform .8s ease-in-out;
  user-select: none;

  .debug {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 10px;
    pointer-events: none;
    width: 20px;
    transform: translateY(-50%);
  }

  &[player="1"] .debug {
    color: black;
  }

  &[player="2"] .debug {
    color: white;
  }

  &[player="1"] .hexagon-inner {
    fill: var(--player-1);
  }

  &[player="2"] .hexagon-inner {
    fill: var(--player-2);
  }

  img {
    position: absolute;
    pointer-events: none;
    width: 85%;
    height: 85%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    display: block;
  }

  .hexagon-border {
    fill: transparent;
    transition: fill $speed ease-in-out;
  }

  hive-player &[player="1"].selected,
  hive-player &[player="1"]:hover,
  [current-player="1"] &[player="1"].selected,
  [current-player="1"] &[player="1"]:hover {
    .hexagon-inner {
      cursor: pointer;
    }

    .hexagon-border {
      fill: var(--player-2);
    }
  }


  hive-player &[player="2"].selected,
  hive-player &[player="2"]:hover,
  [current-player="2"] &[player="2"].selected,
  [current-player="2"] &[player="2"]:hover {
    .hexagon-inner {
      cursor: pointer;
    }

    .hexagon-border {
      fill: var(--player-1);
    }
  }

  &.highlight {
    opacity: 1;
    cursor: pointer;
    animation: fadeIn .5s;
    transition: opacity $speed ease-in-out;

    .hexagon-border {
      fill: transparent;
    }

    .hexagon-inner {
      fill: rgb(172, 172, 172);
      transition: fill $speed ease-in-out;
    }

    &:hover {
      .hexagon-border {
        fill: white;
      }  
    }

    &.fade-out {
      opacity: 0;
    }
  }

  &.disappear {
    animation: disappear .7s forwards;
  }
}