$speed: .5s;
$gray: #797979;
$gray_light: #a0a0a0;
$delay-from-active-to-inactive: 1s;
$delay-from-inactive-to-active: 1s;


:root {
  --hexagon-size: 40px;
  --player-1: white;
  --player-highlight-1: green;
  --player-2: black;
  --player-highlight-2: blue;

  --bee-color: yellow;

  --speed: .4s;
  --easing: ease-in-out;
}
