:root {
  --hexagon-size: 60px;
  --player-1: white;
  --player-highlight-1: green;
  --player-2: black;
  --player-highlight-2: blue;

  --bee-color: yellow;

  --speed: .4s;
  --easing: ease-in-out;
}